@font-face {
	font-family: 'Clash';
	font-style: normal;
	src: url('fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.eot'); /* IE9 Compat Modes */
	src:
		local(''),
		url('fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.woff') format('woff'),
		/* Modern Browsers */
			url('fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.svg#Lora')
			format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'JB Mono';
	font-style: normal;
	src: url('/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}
