@font-face {
	font-family: 'Clash';
	font-style: normal;
	src: url('/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.eot'); /* IE9 Compat Modes */
	src:
		local(''),
		url('/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.woff') format('woff'),
		/* Modern Browsers */ url('/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.svg#Lora') format('svg'); /* Legacy iOS */
}
